<!--messages-->
{% if messages %}
<div class="messages-container" style="max-width: 600px; margin: auto; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); z-index: 1051;">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <!--<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
      </div>
    {% endfor %}
  </div>
{% endif %}

<script>
  // Automatically hide messages after 3 seconds
  setTimeout(function() {
    var alerts = document.querySelectorAll('.alert');
    alerts.forEach(function(alert) {
      var bootstrapAlert = new bootstrap.Alert(alert);
      bootstrapAlert.close();
    });
  }, 3000);
</script>

